<!-- header.html -->
<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center">
      <h1 class="sitename">Farmer<span>Agency</span></h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="index.html" class="active">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="product.html">Market</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="order-tracking.html">Track Order</a></li>
        <li><a href="contact.html">Contact</a></li>
        
        <li class="nav-cart">
          <a href="cart.html" class="cart-link">
            <i class="bi bi-cart3"></i>
            <span class="cart-counter"></span>
          </a>
        </li>
        <li class="nav-auth">
          <a href="#" class="logout-btn" id="logout-btn">
              <i class="bi bi-box-arrow-right me-1"></i>Logout
          </a>
      </li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

  </div>
</header>